.swiper {
  width: 600px;
  height: 600px;
}

.swiper-slide {
  text-align: center;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 33px;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-next, .swiper-button-prev {
  color: $cyan;

  @include hover(transform scale(1.3), color $orange);
}
