@import "../../styles/main";

.no-results {
  text-transform: uppercase;
  height: 100%;
  color: $orange;
  display: flex;
  align-items: center;
  justify-content: center;

  &--list {
    align-items: start;
    grid-column: 2 /3;
  }
}
