@import "../../styles/main";

.course-card {
  width: 250px;
  height: 250px;
  padding: 15px 10px 5px 10px;

  &.MuiPaper-root {
    border-radius: 33px;
  }

  &__row {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__button.MuiButton-root.MuiButtonBase-root {
    border-radius: 33px;
    @include hover(color $orange);
  }

  &__button-link {
    text-decoration: none;
    color: $cyan;
    padding: 10px;

    @include hover(color $orange);
  }
}
